@inherits LayoutComponentBase

@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject ProtectedSessionStorage storage

<PageTitle>WebSiteViagem</PageTitle>

<header>
<!-- Barra de navegação -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
    <a href="#" class="navbar-brand">CURITIBANDO</a>
    <div class="collapse navbar-collapse"></div>

    <!-- Botão para menu hamburger -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav mg-auto">
        <li class="nav-item">
            <a href="" class="nav-link">Home</a>
        </li>          
         <li class="nav-item">
            <a href="/formulario" class="nav-link">Formulario</a>
        </li>
        <li class="nav-item">
            <a href="/register" class="nav-link">Cadastro</a>
        </li>
        
        @if (!logado)
        {
            <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
            </li>
        }
        else
        {
            
        }
        </ul>
    </div>
    </div>      
</nav> 
</header>
<main>
    @Body
</main>

@code {

    bool logado = false;
    protected override async void OnAfterRender(bool firstRender)
    {
        var valor = await storage.GetAsync<bool>("logado");

        if (valor.Success)
            logado = valor.Value;
        else logado = false;

        StateHasChanged();
    }
}