@page "/formulario/alimentacao"

@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject UserService service
@inject NavigationManager nav
@inject ProtectedSessionStorage storage

<div class: "alicontainer">
    <p>
        <h1>ALIMENTAÇÃO</h1>
    </p>

</div>

<form>
  <div class="form-group">
        <label for="exampleFormControlSelect1">Tipo de Estabelecimento</label>
        <select class="form-control" id="placename">
            <option>Selecione uma opção</option>
            <option>Restaurante</option>
            <option>Lanchonete</option>
            <option>Panificadora/Padaria</option>
            <option>Bar</option>
            <option>Comida de rua</option>
            <option>Feira</option>
            <option>Outros</option>
        </select>
  </div>
  <div class="form-group">
        <label for="exampleFormControlSelect1">Valor Gasto</label>
        <textarea class="text" id="amountspent"></textarea>
  </div>
  <div class="form-group">
        <label for="exampleFormControlSelect1">Tipo de comida servida</label>
        <textarea class="form-control" aria-label="Com textarea" id="typefood"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Conte sua experiência / Curiosidades / Dicas</label>
    <textarea class="form-control" id="comments" rows="3"></textarea>
  </div>
  <div class="botoes">
    <button class="botao-volta" onclick="volta()">Voltar</button>
    <button class="botao-avancar" onclick="avancar()">Avançar</button>   
  </div>
</form>