@page "/login"

@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject UserService service
@inject NavigationManager nav
@inject ProtectedSessionStorage storage

<body class= "bodycontainer">

    <body class= "body1container">
    
        <div class="sejabemvindo">
            <p>
                <h1>CURITIBANDO</h1>
                <h1>Seja bem-vindo!</h1>
                <h1>Acesse sua conta agora mesmo.</h1>
            </p>
    
        </div>
    </body>
</body>
<body class= "log1container">
    <div class="logcontainer">
    
    <div class="logincontainer">
        @if (loginError != "")
        {
        <p>
            <label style="color: red;">@loginError</label>
        </p>
        }
        <p>
            <input type="text" @bind-value="@email" placeholder="E-mail"/>
        </p>

        <p>            
            <input type="password" @bind-value="@password" placeholder="Senha"/>
        </p>

        <button onclick="@UserLogin">
            Login
        </button>
    </div>
    </div>

</body>


@code 
{
    private string password;    
    private string email;
    private string userId;
    private string loginError;

    public async void UserLogin()
    {
        
        var result = await service.Login(
            this.email,
            this.password
        );
        
        if (result == null)
        {
            loginError = "Senha ou login incorreto.";
            StateHasChanged();
            return;
        }

        await storage.SetAsync("logado", true);
        await storage.SetAsync("token", result);
        nav.NavigateTo("/usuario");
    }
}