@page "/usuario"

@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject UserService service
@inject NavigationManager nav
@inject ProtectedSessionStorage storage

<body class= "usercontainer">

        <p>
            <h1>USUÁRIO <span class="badge badge-secondary"></span></h1>          
        </p>
    
    
</body>

       
   



@code 
{
    private string name;
    private string password;
    

    public async void UserLogin()
    {
        
        nav.NavigateTo("/usuario");
    }
}


