@page "/usuario"

@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject UserService service
@inject NavigationManager nav
@inject ProtectedSessionStorage storage


<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Conte sua experiência / Curiosidades / Dicas</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

